*{
    margin: 0;
    padding: 0;
}

#navbar{
    height: 60px;
    background-color: #0f1111;
}

#logo{
    color:#f08804;
    font-size: 25px;
}

button{
    background-color: #f08804;
    color:white;
}

a{
    color: white;
    text-decoration: none;
    font-size: normal;
    margin-right: 120px;
}

#one{
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: rgba(240, 248, 255, 0.5);
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    margin-top: 150px;
    margin-right:20px;
    margin-left:20px;

}

#two{
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: rgba(240, 248, 255, 0.5);
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

#three{
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: rgba(240, 248, 255, 0.5);
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

#container{
    height:400px;
}

#footer{
    background-color:#0f1111;
}

p{
    color:aliceblue;
    text-align: center;
}

