body{
    background-color: #f79898;
}

h1{
    text-align: center;
}

div{
    height: 200px;
    width: 200px;
    background-color: rgba(143, 179, 190, 1);
    border: 2px solid maroon;
    border-radius: 10px;
    padding: 20px;
    margin : 0 auto;
    display:block;
    visibility: visible;
}   